/* how to use flexbox: https://www.w3schools.com/css/css3_flexbox_container.asp */

#diagnosis{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#diagnosis-2{
    text-align: center;
    font-size: 50px;
    line-height: 70px;
}

#uh-oh{
    animation-name: uh-oh;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes uh-oh {
    from {font-size: 0px;}
    to {font-size: 70px;}
}

button{
    margin: auto;
    text-align: center;
    width: 50%;
}