html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(133, 70, 64);

  }

#main {
    height: 100%;
    width: 100%;
    background-image: url("../img/human.png");
    background-size: contain, cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(130, 69, 63);
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* about section */
#about {
    padding: 30px;
    margin: 30px;
    border-radius: 20px;
    background-color:rgb(216, 179, 176);
}

#about p{
    font-size: 20px;
}

#about dl{
    font-size: 20px;
}

/* make tabs with the graphic buttons */
.tab {
    display: flex;
    margin: 0px 50px;
    flex-flow: row wrap;
    justify-content: center;
}

.explanation {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 200px;
    justify-content: center;
    align-items: center;
}

.symptoms {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.symptoms img{
    margin: 10px;
}

button {
    font-size: 15px;
    margin: 50px;
    height: 21px;
}

#continue {
    position: absolute;
    margin: 0px;
    right: 50px;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: rgb(181, 97, 89);
}



/* animation section */
#animation {
    height: 100%;
    width: 100%;
    background-image: url("../img/human-body.gif");
    background-size: contain, cover;
    background-position: center;
    background-repeat: no-repeat;
}

#main p {
    padding: 20px;
    margin: 30px;
    border-radius: 20px;
    background-color:rgb(232, 179, 176);
}

#sources {
    padding: 30px;
    margin: 30px;
    border-radius: 20px;
    background-color:rgb(216, 179, 176);
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: rgb(223, 171, 167);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
  
.transparent-button {
    /* background: transparent; */
    /* border: none; */
    cursor: pointer;
    /* outline: none; */
    font-size: 14px;
    display: block;
    margin: 20px auto;
    text-align: center;
    width: 300px;
}
  
#button-liver{
    position: absolute;
    top: 40px;
    right: 600px;
    width: 280px;
}

#button-digestive-system{
    position:absolute;
    top: 200px;
    left: 950px;
    background-color: rgb(181, 97, 89);
    color: white;
}

#button-joint-pain{
    position:absolute;
    top: 275px;
    left: 1300px;
    background-color: rgb(181, 97, 89);
    color: white;
}

#popup-joint-pain{
    position:absolute;
    top: 325px;
    left: 1000px;
    background-color: rgb(181, 97, 89);
    color: white;
}

#popup-digestive-system{
    position:absolute;
    top: 250px;
    left: 550px;
    background-color: rgb(181, 97, 89);
    color: white;
}

#popup-liver{
    position:absolute;
    top: 200px;
    left: 325px;
    background-color: rgb(251, 184, 184);
    color: white;
}


   
.bg-body{
    color: black;
}

#dropdown{
width:max-content;
height: fit-content;
background-color: rgb(71, 0, 0);
}