html, body {
    height: 100%;
    width: 100%;
    background-color:rgb(181, 97, 89);
}

#animation {
    height: 100%;
    width: 100%;
    background-image: url("../img/human-body.gif");
    background-size: contain, cover;
    background-position: center;
    background-repeat: no-repeat;
}

#main {
    height: 100%;
    width: 100%;
    background-image: url("../img/human.png");
    background-size: contain, cover;
    background-position: center;
    background-repeat: no-repeat;
}